<<<<<<< HEAD
 *{

padding: 0;
margin: 0;
 }

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0057b7;
  }
  

  #verbe {
    width: 200px;
  }
  
  #present,
  #passeCompose,
  #futur,
  #imparfaite {
    margin-top: 10px;
  }
  
  /* textareas */
.contenedores-textarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* textarea arriba */
  .textarea-superior {
    margin-bottom: 10px;
  }

  .textarea-inferior {
    margin-top: 10px;
  }
  
  /* RESPONSIVE  */
  @media (max-width: 768px) {
    .contenedores-textarea {
      flex-direction: column;
    }
  }
=======
 *{

padding: 0;
margin: 0;
 }

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0057b7;
  }
  

  #verbe {
    width: 200px;
  }
  
  #present,
  #passeCompose,
  #futur,
  #imparfaite {
    margin-top: 10px;
  }
  
  /* textareas */
.contenedores-textarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* textarea arriba */
  .textarea-superior {
    margin-bottom: 10px;
  }

  .textarea-inferior {
    margin-top: 10px;
  }
  
  /* RESPONSIVE  */
  @media (max-width: 768px) {
    .contenedores-textarea {
      flex-direction: column;
    }
  }
>>>>>>> 0be79e969c98c21a4c5c699ce8f12d11e1e4bee7
  